<section class="py-14 container animate__animated animate__zoomInDown">
  <div class="rounded-3xl bg-primary-linear relative overflow-hidden">
    <div class="bg-white/20 w-96 h-96 absolute top-0 rounded-full -translate-y-1/2 left-0 -translate-x-1/2"></div>
    <div class="bg-white/20 w-96 h-96 absolute bottom-0 rounded-full translate-y-1/2 right-0 translate-x-1/4"></div>
    <h1 class="text-white text-5xl font-bold py-24 px-14 leading-snug">
      Discover, collect, and sell <br>extraordinary NFTs
    </h1>
  </div>
</section>