<section class="container mt-14">
  <div class="mb-4">
    <div>
      <form action="" class="w-full flex gap-4 sm:flex-col">
        <div class="relative w-full flex-grow sm:w-full">
          <button class="absolute left-0 top-1/2 -translate-y-1/2 translate-x-1/2"><i class="icon icon-search text-gray"></i></button>
          <input type="text" name="searchBar" class="pl-12 text-gray text-paragraph-3 w-full h-full py-3" placeholder="Search Item Here">
        </div>

        <div class=" flex-grow">
          <select name="" id="" class="sm:w-full">
            <option value="Recently Listed">Recently Listed</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  
  <include src="components/cards-group.html"></include>

  <div class="flex justify-center">
    <button class="btn btn-secondary px-32 my-8">Load More</button>
  </div>
</section>