<section class="container mt-14">
  <div class="mb-4">
    <div>
      <form action="" class="w-full flex gap-4">
        <div class="relative w-full flex-grow">
          <button class="absolute left-0 top-1/2 -translate-y-1/2 translate-x-1/2"><i class="icon icon-search text-gray"></i></button>
          <input type="text" name="searchBar" class="pl-12 text-gray text-paragraph-3 w-full h-full" placeholder="Search Item Here">
        </div>

        <div class=" flex-grow">
          <select name="" id="">
            <option value="Recently Listed">Recently Listed</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  
  <div class="grid grid-cols-4 gap-5">
    <include src="components/card.html">
      {
        "name": "Abstact Smoke Red Blue",
        "price": "1.25",
        "src": "assets/bid/Bid-01.jpg",
        "alt": "bid-01",
        "status": "-fill",
        "likes": "92"
      }
    </include>

    <include src="components/card.html">
      {
        "name": "Mountain Landscape",
        "price": "0.20",
        "src": "assets/bid/Bid-02.jpg",
        "alt": "bid-02",
        "status": "",
        "likes": "92"
      }
    </include>

    <include src="components/card.html">
      {
        "name": "Paint Color on Wall",
        "price": "0.00",
        "src": "assets/bid/Bid-03.jpg",
        "alt": "bid-03",
        "status": "-fill",
        "likes": "92"
      }
    </include>
   
    <include src="components/card.html">
      {
        "name": "Abstract Patern",
        "price": "0.87",
        "src": "assets/bid/Bid-04.jpg",
        "alt": "bid-04",
        "status": "",
        "likes": "92"
      }
    </include>

    <include src="components/card.html">
      {
        "name": "White Line Grafiti",
        "price": "0.09",
        "src": "assets/bid/Bid-05.jpg",
        "alt": "bid-05",
        "status": "-fill",
        "likes": "92"
      }
    </include>

    <include src="components/card.html">
      {
        "name": "Abstract Triangle",
        "price": "0.90",
        "src": "assets/bid/Bid-06.jpg",
        "alt": "bid-06",
        "status": "-fill",
        "likes": "92"
      }
    </include>

    <include src="components/card.html">
      {
        "name": "Lake Landscape",
        "price": "0.52",
        "src": "assets/bid/Bid-07.jpg",
        "alt": "bid-07",
        "status": "-fill",
        "likes": "92"
      }
    </include>
   
    <include src="components/card.html">
      {
        "name": "Blue Red Art",
        "price": "0.87",
        "src": "assets/bid/Bid-08.jpg",
        "alt": "bid-08",
        "status": "",
        "likes": "92"
      }
    </include>
  </div>

  <div class="flex justify-center">
    <button class="btn btn-secondary px-32 my-8">Load More</button>
  </div>
</section>