<section>
  <div class="pb-36">
    <div class="relative">
      <img src="./assets/profile-bg.jpg" alt="profile-header" class="w-full">
  
      <div class="absolute top-full left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <div class="bg-white rounded-full dark:bg-primary-dark">
          <img src="./assets/avatar/Avatar-05.jpg" alt="" class="w-52 h-52 rounded-full border-solid border-8 border-white dark:border-primary-dark animate__animated animate__zoomInUp">
        </div>
        <h1 class="text-heading-1 font-bold dark:text-white text-center mt-2.5">Mia Ayana</h1>
      </div>
    </div>
  </div>
</section>