<section class="container">
  <h1 class="text-heading-1 font-semibold mb-0 dark:text-white text-black-lighten">Top Sellers</h1>
  
  <div class="top-sellers-swiper relative">
    <div class="overflow-hidden lg:overflow-visible">
      <div class="swiper test pt-4">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "1",
                "name": "Mia Ayana",
                "price": "5.250",
                "src": "assets/avatar/Avatar-01.jpg",
                "alt": "Avatar-01"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "2",
                "name": "Rian Leon",
                "price": "4.932",
                "src": "assets/avatar/Avatar-02.jpg",
                "alt": "Avatar-02"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "3",
                "name": "Lady Young",
                "price": "4.620",
                "src": "assets/avatar/Avatar-03.jpg",
                "alt": "Avatar-03"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "4",
                "name": "Black glass",
                "price": "4.125",
                "src": "assets/avatar/Avatar-04.jpg",
                "alt": "Avatar-04"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "5",
                "name": "Budhiman",
                "price": "3.921",
                "src": "assets/avatar/Avatar-05.jpg",
                "alt": "Avatar-05"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "1",
                "name": "Mia Ayana",
                "price": "5.250",
                "src": "assets/avatar/Avatar-01.jpg",
                "alt": "Avatar-01"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "2",
                "name": "Rian Leon",
                "price": "4.932",
                "src": "assets/avatar/Avatar-02.jpg",
                "alt": "Avatar-02"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "3",
                "name": "Lady Young",
                "price": "4.620",
                "src": "assets/avatar/Avatar-03.jpg",
                "alt": "Avatar-03"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "4",
                "name": "Black glass",
                "price": "4.125",
                "src": "assets/avatar/Avatar-04.jpg",
                "alt": "Avatar-04"
              }
            </include>
          </div>

          <div class="swiper-slide">
            <include src="./components/small-card.html">
              {
                "number": "5",
                "name": "Budhiman",
                "price": "3.921",
                "src": "assets/avatar/Avatar-05.jpg",
                "alt": "Avatar-05"
              }
            </include>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-next-custom"></div>
    <div class="swiper-button-prev-custom"></div>
  </div>
</section>